<p-dialog
  header="Seleccionar animales"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [resizable]="false"
  (onHide)="handleClose()"
>
  <div class="mb-2">
    <span class="p-float-label">
      <p-dropdown
        [(ngModel)]="origenSeleccionado"
        [options]="origenes"
        placeholder="Filtrar por origen"
        (onChange)="onOrigenChange()"
      ></p-dropdown>
      <label for="origen">Origen</label>
    </span>
  </div>

  <div class="p-fluid">
    <!-- Tabla de GANADO -->
    <p-table
      *ngIf="origenSeleccionado === 'GANADO'"
      #dt
      [value]="cattles"
      [(selection)]="selectedGanado"
      dataKey="id"
      [lazy]="true"
      [loading]="loadingTable"
      (onLazyLoad)="loadTable($event)"
      [paginator]="true"
      [rows]="rowSize"
      [totalRecords]="totalRecords"
      [globalFilterFields]="['numero_ganado', 'tipo_ganado', 'sexo', 'peso']"
      selectionMode="multiple"
      responsiveLayout="scroll"
      (selectionChange)="onSelectionChangeGanado($event)"
      [rowsPerPageOptions]="[10, 20, 50]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar"
              #globalFilter
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th># Ganado</th>
          <th>Tipo</th>
          <th>Sexo</th>
          <th>Peso</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-animal>
        <tr [pSelectableRow]="animal">
          <td><p-tableCheckbox [value]="animal"></p-tableCheckbox></td>
          <td>{{ animal.numero_ganado }}</td>
          <td>{{ animal.tipo_ganado }}</td>
          <td>{{ animal.sexo }}</td>
          <td>{{ animal.peso }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Tabla de NACIMIENTO -->
    <p-table
      *ngIf="origenSeleccionado === 'TERNERO'"
      #dtBirths
      [value]="births"
      [(selection)]="selectedNacimiento"
      dataKey="id"
      [lazy]="true"
      [loading]="loadingTable"
      (onLazyLoad)="loadTableBirth($event)"
      [paginator]="true"
      [rows]="rowSize"
      (selectionChange)="onSelectionChangeNacimiento($event)"
      (onRowSelect)="handleRowSelectGanado($event)"
      (onRowUnselect)="handleRowUnselectGanado($event)"
      [totalRecords]="totalRecords"
      [globalFilterFields]="[
        'numero_nacimiento',
        'tipo_ganado',
        'sexo',
        'peso'
      ]"
      selectionMode="multiple"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="[10, 20, 50]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="
                dtBirths.filterGlobal($any($event.target).value, 'contains')
              "
              placeholder="Buscar"
              #globalFilter
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th># Nacimiento</th>
          <th>Tipo</th>
          <th>Sexo</th>
          <th>Peso</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-animal>
        <tr [pSelectableRow]="animal">
          <td><p-tableCheckbox [value]="animal"></p-tableCheckbox></td>
          <td>{{ animal.numero_cria }}</td>
          <td>TERNERO</td>
          <td>{{ animal.sexo }}</td>
          <td>{{ animal.peso_cria }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        (click)="handleClose()"
        class="p-button-text"
      ></button>

      <button
        pButton
        type="button"
        label="Seleccionar"
        icon="pi pi-check"
        (click)="handleAccept()"
        [disabled]="
          (origenSeleccionado === 'GANADO' && selectedGlobalGanado.length === 0) ||
          (origenSeleccionado === 'TERNERO' && selectedGlobalNacimiento.length === 0)
        "
      ></button>
    </div>
  </ng-template>
</p-dialog>
