<div class="grid mb-4">
  <div class="col-12 md:col-4 lg:col-3">
    <div class="metric-card">
      <i class="pi pi-users icon"></i>
      <div>
        <p class="title">Total Empleados</p>
        <h2 class="value">{{ totalEmployees }}</h2>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-4 lg:col-3">
    <div class="metric-card">
      <i class="pi pi-heart icon"></i>
      <div>
        <p class="title">Nacimientos</p>
        <h2 class="value">{{ totalBirths }}</h2>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-4 lg:col-3">
    <div class="metric-card">
      <i class="pi pi-verified icon"></i>
      <div>
        <p class="title">Ganado activo</p>
        <h2 class="value">{{ totalCattle }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12 md:col-6">
    <p-card header="Nacimientos por Mes" class="chart-card">
      <p-chart type="line" [data]="barChartData" [options]="chartOptions"></p-chart>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Distribución de Nacimientos" class="chart-card">
      <div class="small-doughnut">
              <p-chart type="doughnut" [data]="pieChartData" [options]="chartOptions" styleClass="small-doughnut"></p-chart>
      </div>
    </p-card>
  </div>
</div>
