/* Estructura general para el navbar y sidebar */
.card-container {
    display: flex;
    margin-left: 260px; /* Ajusta según el tamaño del sidebar */
    padding: 20px;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 60px;
    margin-left: 220px;
    width: 90%;
    min-height: 100vh;
  }
  
  /* Mantener el navbar fijo en la parte superior */
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté encima */
  }
  
  /* Sidebar fijo a la izquierda */
  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ajusta el tamaño del sidebar */
    height: 100vh;
    background-color: #f8f9fa;
    z-index: 999;
    padding-top: 20px;
  }
  