<div class="login-wrapper">
    <div class="login-left">
    </div>

    <div class="login-right">
        <div class="login-form-container">
            <h2>Log in</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="p-inputgroup mb-3">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input type="email" pInputText placeholder="Username" formControlName="email" class="w-full" />
                </div>

                <div class="p-inputgroup mb-3">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                    </span>
                    <input type="password" pInputText placeholder="Password" formControlName="password" class="w-full" />
                </div>

                <div class="login-options">
                    <label class="remember-label">Remember Me</label>
                    <a class="forgot-password" href="#">Forgot Password?</a>
                </div>
                <button pButton type="submit" label="Inicar Session" class="login-button w-full"></button>
            </form>
        </div>
    </div>
</div>